.flightBoard {
  height: 100vh;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-weight: bold;
  font-size: 23px;
  text-transform: uppercase;
}

table th, td {
  padding-left: 20px;
}

table tr {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ded6cb;
  height: 60px;
}


table .headers {
  height: 45px;
  font-size: 28px;
  background-color: #004f93;
  color: white;
}

.topContainer .gray {
  display: flex;
  height: 25px;
  background-color: #ded6cb;
}

.bottomContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottomContainer .blue {
  display: flex;
  height: 45px;
  background-color: #004f93;
}

.bottomContainer .blue #clock {
  align-self: center;
  padding-left: 20px;
  font-size: 23px;
  color: white;
}

.bottomContainer .gray {
  display: flex;
  height: 25px;
  background-color: #ded6cb;
}

.bottomContainer .gray .progressBar {
  height: 6px;
  width: 800px;
  align-self: center;
  margin: auto;
  font-size: 30px;
}

.bottomContainer .gray .progressBar #indicator {
  width: 0%;
  transition: width 5s linear;
  height: 100%;
  background-color: #16c516;
  border-radius: 10px;
}

.bottomContainer .textContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
}

.bottomContainer .image {
  margin-left: 15px;
  width: 120px;
  height: 80px;
}

.bottomContainer .vertrek {
  height: 30px;
  margin-right: 15px;
  font-size: xx-large;
  font-weight: bold;
  color: #004f93;
}

.bottomContainer .blue #pageNumbers {
  display: flex;
  width: 200px;
  height: 55px;
  margin-top: 5px;
  margin-left: 500px;
  justify-content: space-evenly;
}

#pageNumbers div {
  display: flex;
  background-color: #ded6cb;
  font-size: x-large;
  color: black;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

